.THIS {
}
.THIS .Right {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}
.THIS .Left {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}
.THIS .Center {
    text-align: center;
    margin-top: 10px;
}
.THIS .Hidden {
    visibility: hidden;
}